<launch>
  <include file="$(find turtlebot_navigation)/launch/includes/gmapping_rd.launch.xml"/>
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
 
 <node pkg="teraranger_tower" type="teraranger_tower_node" name="tower" output="screen"/>
  <node pkg="tf" type="static_transform_publisher" name="tr_tf1" args="0 0 0 0 0 0 base_link scan 100" />
</launch>